/* resume stylesheet */
/* colors: https://coolors.co/f7f0f5-d496a7-decbb7-2d3142-8f857d */
body {
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 11pt;
    margin: 0;
    background-color: whitesmoke;
    /* background-color: #2d3142; */
    color: #07070a;
    /* color: whitesmoke; */
    height: 100%;
    line-height: 15pt;
}

ul {
    list-style: none;
    text-align: right;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
p {
    display: list-item;
    list-style: disc;
}

.headerContainer {
    background-color: #275dad;
    /* background-color: #d496a7; */
    width: 100%;
}

.header,
.bodyContainer {
    max-width: 960px;
    margin: auto;
    padding: 10px 20px;
}

.header {
    display: flex;
    align-items: center;
}

.headerName {
    font-size: 28pt;
    flex: 1;
}

.headerName,
.headerInfo {
    color: whitesmoke;
    /* color: #2d3142; */
}

.sectionSmallColumn,
.sectionTitle {
    color: #275dad;
    /* color: #d496a7; */
}

.sectionTitle {
    font-size: 14pt;
    width: 100%;
    border-bottom: #275dad 1pt solid;
    /* border-bottom: #d496a7 1pt solid; */
}

.sectionContent {
    margin: 10pt 0;
    display: flex;
}

.sectionMainColumn,
.sectionDualColumn {
    flex: 5;
    align-self: flex-start;
    padding: 0 10pt;
}

.sectionDualColumn {
    flex: 2.5;
}

.sectionSmallColumn {
    flex: 1;
    align-self: flex-start;
    padding: 0;
}

.sectionYears {
    font-style: italic;
}

.sectionCompany {
    font-weight: 600;
}

.sectionMainColumn p {
    line-height: 20pt;
    margin: 0;
}